<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Display of data</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=history_2" />
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/template2.css') }}">
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="{{url_for('static', filename='../static/data.webp')}}"/>
            </div> 
            <h1>Data Display</h1>
        </div>
    </header>

    <main>
        <div class="data-grid">
            
            <!-- Système -->
            <div class="section-container">
                <div class="section-title">
                    <h2>Système Section</h2>
                </div>
                <section class="Section_Système card">
                    <p>Machine name: {{ machine_name }}</p>
                    <p>Operating system: {{ oprating_system }}</p>
                    <p>Uptime: {{ uptime }}</p>
                    <p>Number of users: {{ numbers_user | length }}</p>
                </section>
            </div>
            
            <!-- CPU -->
            <div class="section-container">
                <div class="section-title">
                    <h2>CPU</h2>
                </div>
                <section class="CPU card">
                    <p>Number of cores: {{ core }}</p>
                    <p>Frequency: {{ frequency }} MHz</p>
                    <p>CPU Usage percentage: {{ usage_rate }}%</p>
                </section>
            </div>

            <!-- Mémoire -->
            <div class="section-container">
                <div class="section-title">
                    <h2>Memory</h2>
                </div>
                <section class="Mémory card">
                    <p>Total RAM: {{ RAM }} GB</p>
                    <p>Used RAM: {{ RAM_used }} GB</p>
                    <p>Usage percentage: {{ progress }}%</p>
                </section>
            </div>

            <!-- Réseau -->
            <div class="section-container">
                <div class="section-title">
                    <h2>Network</h2>
                </div>
                <section class="Section_Réseau card">
                    <p>Main IP address: {{ IP_Address }}</p>
                    
                    <!-- Affichage des 3 processus les plus gourmands -->
                    <p>Top 3 most demanding processes:</p>
                    <ul>
                        {% for process in Top_3 %}
                            <li>Process name: {{ process.name }}, CPU Usage: {{ process.cpu_percent }}%, PID: {{ process.pid }}</li>
                        {% endfor %}
                    </ul>
                    <p>Tous les processus en cours</p>
                    <ul>
                        {% for proc in processes_info %}
                            <li>{{ proc.name }} (PID: {{ proc.pid }}) - CPU: {{ proc.cpu_percent }}% - RAM: {{ proc.memory_percent }}%</li>
                        {% endfor %}
                    </ul>
                </section>
            <div class="section-container">
                <div class="section-title">
                    <h2>Analyse des fichiers</h2>
                    </div>
                <section class="Fichiers card">
                    <p>Total de fichiers : {{ total_files }}</p>
                    <ul>
                        <li>.txt : {{ file_count['.txt'] }} ({{ file_percentages['.txt'] }}%)</li>
                        <li>.py : {{ file_count['.py'] }} ({{ file_percentages['.py'] }}%)</li>
                        <li>.pdf : {{ file_count['.pdf'] }} ({{ file_percentages['.pdf'] }}%)</li>
                        <li>.jpg : {{ file_count['.jpg'] }} ({{ file_percentages['.jpg'] }}%)</li>
                    </ul>
            </div>
                </section>
        </div>
    </main>

    <footer>
        <span class="material-symbols-outlined">
           history_2
        </span>
        <p>Timestamp: {{ timestamp }}</p>
    </footer>
</body>
</html>
